body {
    background-color: #000814;
    font-family: Poppins, Roboto, sans-serif;
    margin: 0;
    color: white;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.logo {
    color: #FFC300;
}

.logo > span {
    color: white;
}

h6 {
    color: white
}

a:link {
    text-decoration-line: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFC300;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title > span {
    color: #FFC300;
}

.sub-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description-size {
    max-width: 530px;
}

.logo {
    color: #FFC300;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-link:any-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    color: white;
}

img {
    max-width: 580px;
}

.button-primary {
    display: inline-flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    background: #FFC300;

    color: #000814;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-secondary {
    display: inline-flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: transparent;

    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mt-200 {
    margin-top: 200px;
}

nav {
    padding-inline: 140px;
    padding-top: 40px;
}

.sticky-nav {
    background-color: #000814;
    padding-inline: 140px;

    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;

    transition: background-color 0.3s ease, padding 0.3s ease;
}